@use "./fonts/archivo.css";
@use "./fonts/fira-code.css";
@use "./fonts/google-sans-code.css";
@use "./fonts/monaspace-argon.css";
@use "./fonts/monaspace-radon.css";
@use "./fonts/monaspace-xenon.css";

$archivo: "Archivo";

$fira-code: "Fira Code";

$google-sans-code: "Google Sans Code";

$monaspace: (
    argon: "Monaspace Argon",
    neon: "Monaspace Neon",
    radon: "Monaspace Radon",
    xenon: "Monaspace Xenon",
    krypton: "Monaspace Krypton",
);

/* 
Where which fonts are used:

Markdown Source Editor:
- Normal text: Monaspace Argon
- Headings:
  - H1: Google Sans Code
  - H2: Monaspace Argon
  - H3: Monaspace Xenon
  - H4-6: Fira Code
  - Overline: Monaspace Argon (all-caps, 125% width)
  - Subtitle: Monaspace Radon
Markdown Live Preview:
Markdown Reading View:

*/
