// @use "sass:map";

$margin: (
	xxs: 0.125rem,
	xs: 0.25rem,
	sm: 0.5rem,
	md: 0.75rem,
	lg: 1rem,
	xl: 1.5rem,
	xxl: 2.5rem,
	xxxl: 4rem,
);

$padding: (
	xxs: 0.125rem,
	xs: 0.25rem,
	sm: 0.5rem,
	md: 0.75rem,
	lg: 1rem,
	xl: 1.5rem,
	xxl: 2.5rem,
	xxxl: 4rem,
);

$spacing: (
	xxs: 0.875rem,
	xs: 1rem,
	sm: 1.25rem,
	md: 1.5rem,
	lg: 2rem,
	xl: 2.5rem,
	xxl: 4rem,
	xxxl: 6rem,
);
